.board-container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.search-container {
  text-align: center;
  margin: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px; /* 요소 간 간격 */
}

.search-input {
  width: 40%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin: 0;
}

.search-input:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

select {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #f8f9fa;
  color: #333;
}

select:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.search-button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

.search-button:hover {
  background-color: #0056b3;
}


.table-container {
  margin: 20px 0;
}

.list-table {
  width: 100%;
  border-collapse: collapse;
  margin: 0 auto;
}

.list-table th,
.list-table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

.list-table td {
cursor: pointer;
}
.table-header {
  background-color: #f8f9fa;
  font-weight: bold;
}

.list-table tr:hover {
  background-color: #f1f1f1;
}

.list-table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.list-table th:nth-child(2),
.list-table td:nth-child(2) {
  width: 60%;
}
.icon{
  font-size: 25px;
  cursor: pointer;
}